@tailwind base;
@tailwind components;
@tailwind utilities;

:root, body {
  margin: 0px;
  padding: 0px;
}

:root[data-theme="light"] {
  --color-primary: #3C70B8; /* Brand primary color */
  --color-primary-50: hsl(212, 100%, 97%); /* Brand primary color */
  --color-background: #fffff4; /* Light background */
  --color-text: #000000; /* Light text color */
  --color-text-secondary: #FFFFFF; /* Light secondary text color */
  --color-custom-grey: #e5e7eb; /* Custom gray color */
}

:root[data-theme="dark"] {
  --color-primary: #5a84bf; /* Same accent color for brand consistency */
  --color-primary-50: #26292c; /* Same accent color for brand consistency */
  --color-background: #202020; /* Dark background (almost black) */
  --color-text: #EDEDED; /* Light gray text for better readability on dark backgrounds */
  --color-text-secondary: #FFFFFF;
  --color-custom-grey: #484848;
}

* {
  box-sizing: border-box;
}

:root {
  position: relative;
  margin: 0px;
  padding: 0px;
  min-height: 100dvh;
}

body {
  position: relative;
  height: 100%;
}
