@tailwind base;
@tailwind components;
@tailwind utilities;

:root, body {
  margin: 0px;
  padding: 0px;
}

:root[data-theme="light"] {
  --color-primary: #3C70B8; /* Brand primary color */
  --color-background: #fffff4; /* Light background */
  --color-text: #000000; /* Light text color */
}

:root[data-theme="dark"] {
  --color-primary: #3C70B8; /* Same primary color */
  --color-background: #121100; /* Dark background (gray-900 equivalent) */
  --color-text: #E2E8F0; /* Light text for dark mode (gray-300 equivalent) */
}

* {
  box-sizing: border-box;
}

:root {
  position: relative;
  margin: 0px;
  padding: 0px;
  min-height: 100dvh;
}

body {
  position: relative;
  height: 100%;
}
