.swiper-button-prev::after,.swiper-button-next::after {
	color: #fff !important;
}

#main-carousel .swiper-button-prev::after {
	position: relative;
	left: 5rem !important;
	color: #fff !important;
}

#main-carousel>.swiper-button-next::after {
	position: relative;
	right: 5rem !important;
	color: #fff !important;
}

.swiper-pagination-bullet {
	background-color: #fff !important;
}

@media (max-width : 640px) {

	.swiper-button-prev,
	.swiper-button-next {
		display: none !important;
	}
}